<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Oscar Nordquist" />
    <meta property="og:type" content="website" />
	<meta property="og:url" content="http://northerntwig.github.io/" />
	<meta property="og:image" content="https://northerntwig.github.io/img/portrait.png" />
    <meta property="og:description" content="The published works of Oscar Nordquist" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta property="og:description" content="The published works of Oscar Nordquist" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
