.site-stuff {
    width: 100%;
    height: auto;
    padding: 0px 0;
}

.portrait {
    height: 225px;
    width: 225px;
    margin: 0 auto;
    background-image: url('../img/portrait.png');
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.textSquare {
    width: 75%;
    padding: 15px;
    margin: 0 auto;
    margin-top: 10px;
    height: auto;
    border-radius: 2px;
    background-color: $grey-color-light;
}

.textSquare h1 {
    text-align: center;
    font-weight: bold;
}

.pcScreen {
    height: 225px;
    width: 225px;
    margin: 0 auto;
    background-image: url('../img/pcScreen.png');
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.textContainer {
    width: 95%;
    margin: 0 auto;
}

.textContainer h1 {
    text-align: center;
}

#bigBlue {
    width: 100%;
    height: 125px; 
    //url('../img/bannertwo.png');
    background-position: 50% 50%;
    background-size: 100% auto;
    transition: all 1s;
}

.greenIng {
    background-color: green;
}

.redIng {
    background-color: red;
}

.oraIng {
    background-color: orange;
}

